body {
      background-color: aliceblue;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }
    header {
      background-color: rgb(75, 76, 78);
      display: flex;
      justify-content: space-between;
      padding: 2px;
      position: sticky;
      top: 0;
      right: 0;
    }
    h1 {
        font: times new roman;
      margin-left: 300px;
      font-family: gerund;
      color: rgb(163, 158, 158);
    }
    .hero {
      display: flex;
      flex-direction: columns;
      margin-top: 30px;
      margin-right: 50px;
      gap: 100px;
      list-style: none;
      /* text-decoration: none; */
    }
    .nav-link {
      text-decoration: none;
      color: rgb(170, 175, 175);
      text-transform: uppercase;
      font-size: 20px;
    }
    .nav-link:hover {
      background-color: rgb(99, 100, 100);
      padding: 5px;
    }
    img {
      width: 100%;
      height: 400px;
    }
    h2 {
      text-align: center;
      color: rgb(92, 95, 95);
      text-decoration: underline;
    }
    p {
      text-align: center;
      line-height: 30px;
      /* padding: 22px; */
    }
    h3 {
      color: rgb(92, 95, 95);
      margin-left: 20px;
    }
    .order-list {
      line-height: 30px;
    }
    footer {
      background-color: rgb(171, 176, 176);
      display: flex;
      justify-content: center;
      gap: 40px;
    }
    @media (max-width: 768px) {
      header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
      }
      h1 {
        margin: 0 auto;
        font-size: 17px;
        /* margin-top: 20px; */
      }
      .hero {
        margin: 0 auto;
      }
      .nav-link {
        font-size: 18px;
      }
    }